<div class="container" >
  <div class="row">
    <div class="col-md-3">
        <label>Category:</label>
<input [(ngModel)]='category' placeholder="Enter a Category"/>
    </div>
    <div class="col-md-3">
        <label>Price:</label>
        <input [(ngModel)]='price' type="number" placeholder="Enter a Price"/>
    </div>
    <div class="col-md-3">
        <label>Author:</label>
        <input [(ngModel)]='author' placeholder="Enter a Name of Author"/>
    </div>
  </div> 
<p style="margin: 1%;">Find Books</p>
<div class="text-center">
    <button class="btn btn-primary" style="margin-left: 10%; size: 500mm;" (click)='find()'>Search</button>

</div>
</div>

    

    <div class="container" *ngIf="books.length>0">
        <h1>List Of Books</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Author</th>
                <th scope="col">Category</th>
                <th scope="col">Logo</th>
                <th scope="col">Price</th>
                <th scope="col">publisher</th>
                <th scope="col">Active</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of books">
                <th scope="row">{{item.bookId}}</th>
                <td>{{item.author}}</td>
                <td>{{item.category}}</td>
                <td>{{item.logo}}</td>
                <td>{{item.price}}</td>
                <td>{{item.publisher}}</td>
                <td>{{item.active}}</td>
              </tr>
             
            </tbody>
          </table>
    </div>
    <div class="text-center" *ngIf="books.length == 0">
      NO Data Found!
    </div>



