<p>
    <mat-toolbar color="warn">
      <span ><a style="    font-size: 30px;" mat-button routerLink="/Welcome" routerLinkActive="active">Digital Books</a></span>
      <a mat-button routerLink='/digitalbooks' routerLinkActive="active" style="margin-right: 1%;">Save Books</a>
      <a mat-button routerLink='/search' routerLinkActive="active" style="margin-right: 1%;">Find Book</a>

    </mat-toolbar>
  </p>

<!-- <nav>
    <a mat-button routerLink='/digitalbooks' routerLinkActive="active" style="margin-right: 1%;">Digital Books</a>
    <a routerLink='/digitalbooks/author' routerLinkActive="active" style="margin-right: 1%;">Save Book</a>
    
</nav> -->

<router-outlet></router-outlet>